body
{
    background-image: url('../images/city.jpg');
    background-size: cover;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-align: center;
}
h1
{
    margin: 20px;
}
h2
{
    font-size: 40px;
    margin-top: 0;
}

button
{
    width: 200px;
    border: none;   
    border-radius: 5px;
    color: aliceblue;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    box-shadow: 2px 5px 10px rgb(0, 0, 0);

}

/* increment-button */
#increment-btn
{
    background-color: rgb(224, 179, 30);
}
#increment-btn:hover
{
    background-color: rgb(223, 152, 22);
}

#increment-btn:active
{
    transform: translateY(2px);
}

/* save button */
#save-btn
{
    margin-top: 10px;
    background-color: rgb(0, 119, 26);
}
#save-btn:hover
{
    background-color: rgb(0, 112, 15);
}

#save-btn:active
{
    transform: translateY(2px);
}

/* reset button */
#reset-btn
{
    margin-top: 10px;
    background-color: rgb(163, 0, 0);
}
#reset-btn:hover
{
    background-color: rgb(116, 11, 4);
}

#reset-btn:active
{
    transform: translateY(2px);
}